<div class="deviseStyling abouts marginTopOverride canScroll">
	<h2 class="titles">Add your artist here!</h2>
	<%= bootstrap_form_for(@artist) do |f| %>
		<div class="col-md-12" style="background-color: rgba(113, 113, 113, 0.5);padding:10px;border-radius:6px;margin:0px 0px 10px 0px">
			<h2 style="margin:10px;">IMAGES</h2>
			<div class="vimeoSectionInForm">
				<div class="textField"><%= f.file_field :image, label: "Square image (crop to 400px X 400px)" %>
					<% if @artist.image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @artist.image_file_name %>" }</p>
					<% end %>
				</div>
				<div class="textField"><%= f.file_field :slide_image, label: "Slideshow image (crop to 1115px X 952px)" %>
					<% if @artist.slide_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @artist.slide_image_file_name %>" }</p>
					<% end %>
				</div>
				<div class="textField"><%= f.file_field :fb_image, label: "Facebook image (crop to 1200px X 630px)" %>
					<% if @artist.fb_image.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @artist.fb_image_file_name %>" }</p>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-6" style="background-color: rgba(113, 113, 113, 0.5);padding:10px;border-radius:6px;margin:0px 0px 0px 0px">
			<h2 style="margin:10px;">MAIN PLACEMENT CONTENT</h2>
			<div class="vimeoSectionInForm">
				<div class="textField2"><%= f.text_field :slide_title, label: "Line1 A (Slide Title 1)" %></div>
				<div class="textField2"><%= f.text_field :slide_title2, label: "Line1 B (Slide Title 2)" %></div>
				<div class="textField2"><%= f.text_field :artist_name, label: "Line2 A (Artist Name)" %></div>
				<div class="textField2"><%= f.text_field :track_name, label: "Line2 B" %></div>
				<div class="textField2"><%= f.text_field :vimeo, label: "Video URL" %></div>
				<div class="textField2">
					<%= f.select :platform, options_for_select(["vimeo", "youtube"], @artist.platform) %>
				</div>
				<div class="textField smallText"><%= f.check_box :slideshow, label: "Add to slideshow?" %></div>
			</div>
			<div class="vimeoSectionInForm"><%= f.text_area :description, label: "Description" %></div>
		</div>
		<div class="col-md-6" style="background-color: rgba(113, 113, 113, 0.5);padding:10px;border-radius:6px;width:48%; margin:0px 1%;">
			<h2 style="margin:10px;">NEWSLETTER CONTENT</h2>
			<div class="vimeoSectionInForm">
				<div class="textField smallText"><%= f.check_box :newsletter, label: "Add to newsletter?" %></div>
				<div class="textField3"><%= f.file_field :hero, label: "Newsletter hero image (crop to 564px X 235px before upload)" %>
					<% if @artist.hero.exists? %>
						<p class="existingImageName">{ Current Image: "<%= @artist.hero_file_name %>" }</p>
					<% end %>
				</div>
			</div>
			<div class="vimeoSectionInForm">
				<div class="textField2"><%= f.text_field :nltitle, label: "Newsletter title" %></div>
				<div class="textField2"><%= f.text_field :nlsubtitle, label: "Newsletter title 2" %></div>
			</div>
			<div class="vimeoSectionInForm"><%= f.text_area :nldescription, label: "Newsletter description" %></div>
		</div>
	  	<div class="buttons" style="float:left;clear:both;margin:25px -6px;">
			<div class="submitLarge"><%= f.submit 'Submit', class: "btn btn-success"  %></div>
			<div class="cancelButton"><%= link_to('Cancel', :back ,class: "btn btn-success")  %></div>
		</div>
	<% end %>
</div>
