<div class="col-md-12">
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://google.co.uk" class="">
		<div class="col-md-4 artistContainer">
			<div class="artist">
				<div class="info-wrapper">
					<h5 class="colour">Ed Hamilton</h5>
					<hr class="dots"/>
					<p class="artistDescription">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
				</div>
				<%= image_tag('ed.jpg', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
</div>