<div class="canScroll" id="artistScrollPosition">
	<div class="col-md-12">
		<% @artists.each do |artist| %>
		<input type="hidden" value=<%= artist.id %> class="modal-object-id">
		<a href="<%= artist_path(artist) %>" class="positionButton">
			<div class="col-md-4b artistContainer">
				<div class="artist">
					<div class="info-wrapper">
						<h5 class="colour"><%= artist.name %></h5>
						<hr class="dots"/>
						<p class="artistDescription"><%= truncate(artist.description, :length => 220, :separator => ' ') %></p>
					</div>
					<%= image_tag(artist.image, lazy: true, class: "lazy") %>
				</div>
			</div>
		</a>
		<% end %>
	</div>
</div>