<div class="canScroll">	
	<div class="artistInfo">
		<%= link_to '', artists_path, :class => "closeIcon" %>
		<h1 class="artistName titleSize1"><%= @artist.name %></h1>
		<hr class="artistSeparator" />
		<div class="artist-left">
			<div class="artistSquareImageContainer">
				<div class="artistSquareImage">
					<%= image_tag(@artist.image, :class => "artistSquareImage") %>
				</div>
			</div>
		</div>
		<div class="artist-right">
			<p class="artistDetail"><%= simple_format @artist.description, :class => "artistDetail descriptionSize1" %></p>
		</div>
		<div class="artist-bottom">
			<hr class="projectSeparator" />
			<% if @artist.vimeo? %>
				<div class="videoMaster spacer2">
					<div class="videoDesktop">
						<div class="fitvids responsiveVideo2">
							<div class="plyr js-player">
							    <div data-video-id="<%= @artist.vimeo %>" data-type="<%= @artist.platform %>"></div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<script>
	var artistDialog = new FacebookFeedDialog(838327899644745,'<%= request.original_url %>','http://www.splitmusic.co.uk/share_closes');
	artistDialog.addParam('name','<%= @artist.name.split.join(' ') %>');
	artistDialog.addParam('description','<%= @artist.description.split.join(' ') rescue nil %>');
	artistDialog.addParam('picture','<%= @artist.fb_image %>');
</script>