<div class="col-md-2">
	<div class="col-md-12"><%= link_to image_tag('logo.png'), root_path, class: "logo2" %></div>
	<div class="col-md-12"><h2 class="titles2" style="margin-top:12px;">Content Management</h2></div>
	<div class="col-md-12">
		<ul id="menu" class="navigation2 clearfix">
			<li class="navButton"><%= link_to 'Slideshow', admins_slideshow_path %></li><br/>
			<li class="navButton"><%= link_to 'Announcements', admins_announcements_path %></li>
			<li class="navButton"><%= link_to 'Artists', admins_artists_path %></li>
			<li class="navButton"><%= link_to 'Releases', admins_releases_path %></li>
			<li class="navButton"><%= link_to 'Placements', admins_placements_path, :class => "navigationButton clearFixer" %></li><br/>
			<li class="navButton"><%= link_to 'Re-search', admins_researches_path, :class => "navigationButton clearFixer" %></li><br/>
			<li class="navButton"><%= link_to 'Composition', admins_customs_path, :class => "navigationButton clearFixer" %></li></br>
			<li class="navButton"><%= link_to 'Newsletter', admins_newsletter_path, :class => "navigationButton clearFixer" %></li>
		</ul>
	</div>
</div>