<%= render :partial => 'admins/navigation' %>
<div class="col-md-10 cmsTable canScroll">
	<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2>
	<%= link_to 'Launch Blast Newsletter', newsletters_path, class: "btn btn-success", target: "blank", style: "float:left;clear:both;"  %>
	<table class="table table-striped" id="">
	 		<thead>
	   		<tr>
				<th>Rectangular image</th>
	     		<th>Title</th>
				<th>Subtitle</th>
				<th>Type of record</th>
				<th>Newsletter description</th>
				<th>Newsletter?</th>
				<th>Newsletter grid Position</th>
	   		</tr>
	 		</thead>
	 		<tbody>
	   		<% @sorted_newsletters.each do |nl| %>
     			<tr data-item-id=<%= "" %> class="item">
					<td><%= image_tag(nl.hero, class: "thumb3") %></td>
       				<td><%= best_in_place nl, :nltitle %></td>
					<td><%= best_in_place nl, :nlsubtitle %></td>
					<td><%= nl.class.to_s.upcase  %></td>
					<td width="700px"><%= best_in_place nl, :nldescription %></td>
					<td><%= best_in_place nl, :newsletter, as: :checkbox, collection: {false: "No", true: "Yes"} %></td>
					<td><%= best_in_place nl, :newsletterposition %></td>
     			</tr>
	   		<% end %>
	 		</tbody>
	</table>
</div>