<%= render :partial => 'admins/navigation' %>
<div class="col-md-10 cmsTable canScroll">
	<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2>
	<h2 class="titles2 placements">Placements</h2>
	<div>
		Line 1A & Line 1B are displayed on the slideshow, placements index page and placement display page<br/>
		Line 2A and Line 2B are displayed on the slideshow and placement display page but NOT on the placements index page<br/><br/>
	</div>
	<%= link_to 'Add New Work', new_work_path, class: "btn btn-success csvInput4"  %>
	<div style="float:right;">
		<%= form_tag admins_placements_path, :method => 'get', :id => "works_search" do %>
			<p class="csvInput4" style="padding-left:10px;padding-top:0px;">
				<%= text_field_tag :search, params[:search], :style => "margin-left:10px;" %>
				<%= submit_tag "Search", :brand_name && :campaign_title && :agency && :vimeo && :platform && :slideshow && :newsletter => nil, :class => "btn btn-success", :style => "margin-left:6px;" %>
			</p>
		<% end %>
	</div>
	<div id="works"><%= render 'works' %></div>
</div>