<%= render :partial => 'admins/navigation' %>
<div class="col-md-10 cmsTable canScroll">
	<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2>
	<h2 class="titles2 placements">Releases</h2>
	<%= form_tag import_releases_path, class: "csvInput marginCsv", multipart: true do %>
		<%= file_field_tag :file %><br/>
		<%= submit_tag "Import CSV", class: "btn btn-success marginCsv2" %>
	<% end %>
	<%= link_to 'Add New Release', new_release_path, class: "btn btn-success csvInput"  %>
	<div style="float:right;">
		<%= form_tag admins_releases_path, :method => 'get', :id => "releases_search" do %>
			<p class="csvInput4" style="padding-left:10px;padding-top:0px;">
				<%= text_field_tag :search, params[:search], :style => "margin-left:10px;" %>
				<%= submit_tag "Search", :title => nil, :class => "btn btn-success", :style => "margin-left:6px;" %>
			</p>
		<% end %>
	</div>
	<div id="releases"><%= render 'releases' %></div>
</div>