<%= render :partial => 'admins/navigation' %>
<div class="col-md-10 cmsTable canScroll">
	<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2>
	<h2 class="titles2 placements">Slides</h2>
	<table class="table table-striped" id="sortableAnnouncement">
	 		<thead>
	   		<tr>
	     		<th>Title</th>
	     		<th>Description?</th>
				<th>Soundcloud</th>
				<th>Vimeo</th>
				<th>Image?</th>
				<th>Slideshow?</th>
				<th>Type</th>
				<th>Slideshow Position</th>
	   		</tr>
	 		</thead>
	 		<tbody>
	   		<% @sorted_slides.each do |slide| %>
     			<tr data-item-id=<%= "" %> class="item">
       				<td><%= best_in_place slide, :slide_title %></td>
					<td><% if slide.description? %>Yes<% else %>No<% end %></td>
					<td><%= slide.soundcloud %></td>
					<td><%= slide.vimeo %></td>
					<td><% if slide.slide_image? %>Yes<% else %>No<% end %></td>
					<td><%= best_in_place slide, :slideshow, as: :checkbox, collection: {false: "No", true: "Yes"} %></td>
					<td><%= slide.model_name %></td>
					<td><%= best_in_place slide, :Slideshowposition %></td>
     			</tr>
	   		<% end %>
	 		</tbody>
	</table>
</div>