<div class="canScroll" id="workScrollPosition">
	<div class="col-md-12">
		<% @works.each do |work| %>
		<input type="hidden" value=<%= work.id %> class="modal-object-id">
		<a href="<%= work_path(work) %>" class="positionButtonWork">
			<div class="col-md-4b artistContainer">
				<div class="artist">
					<div class="info-wrapper">
						<h5><%= work.slide_title %><br/><%= work.slide_title2 %></h5>
					</div>
					<%#= image_tag(work.image, lazy: true, class: "lazy") %>
					<%= image_tag "https://d9gj9tfjl21as.cloudfront.net/ajaxBig2.gif", data:{ src: image_path(work.image) }, class: 'lazy lazyload' %>
				</div>
			</div>
		</a>
		<% end %>
	</div>
</div>