<div class="parent3">
	<%= link_to '', customs_path, :class => "customCloseIcon" %>
	<a class="customBrandIcon" %></a>
	<div class="subMenu">
		<p>Here is some text to show the submenu working.</p>
		<p>Here is some text to show the submenu working.</p>
		<p>Here is some text to show the submenu working.</p>
		<p>Here is some text to show the submenu working.</p>
		<p>Here is some text to show the submenu working.</p>
		<p>Here is some text to show the submenu working.</p>
		<p>Here is some text to show the submenu working.</p>
	</div>
</div>
<div class="canScroll">	
	<div class="parent2">
		<%= image_tag(@custom.image, :lazy => true, class: "lazy child-image2 customSquareImage") %>
		<div class="child2 projectInfo">
			<h1 class="bespokeHeader"><%= @custom.name %></h1>
			<h1 class="bespokeHeaderUnder"><%= @custom.genre %></h1>
		</div>
	</div>
	<div class="customInfo">
		<h1 class="customTitle">Watch</h1>
		<div class="videosWrapper">
			<div class="videoPositionFix">
				<div class="responsiveVideo frame_container">
					<iframe class="my_iFrame" src="https://player.vimeo.com/video/<%= @custom.vimeo_1 %>?title=0&amp;byline=0&amp;" width="500" height="281" frameborder="0" 
					webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<%= image_tag('vimeoLoading.gif', :class => "loading") %>
				</div>
				<div class="responsiveVideo frame_container">
					<iframe src="https://player.vimeo.com/video/<%= @custom.vimeo_1 %>?title=0&amp;byline=0&amp;" width="500" height="281" frameborder="0" 
					webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<%= image_tag('vimeoLoading.gif', :class => "loading") %>
				</div>
				<div class="responsiveVideo frame_container">
					<iframe src="https://player.vimeo.com/video/<%= @custom.vimeo_1 %>?title=0&amp;byline=0&amp;" width="500" height="281" frameborder="0" 
					webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<%= image_tag('vimeoLoading.gif', :class => "loading") %>
				</div>
			</div>
		</div>
		<hr class="customSeparator" />
		<div class="belowTheFold">
			<div class="aboutWrapper">
				<h1 class="customTitleAbout">About</h1>
				<p class="customDetail"><%= simple_format @custom.description, :class => "customDetail" %></p>
			</div>
			<div class="listenWrapper">
			<h1 class="customTitleListen">Listen</h1>
				<!-- Nav tabs -->
			  	<ul class="nav nav-tabs" role="tablist">
			    	<li role="presentation" class="active"><a href="#stream" aria-controls="stream" role="tab" data-toggle="tab">Stream</a></li>
			    	<li role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
			  	</ul>

			  	<div class="tab-content">
			  		<div role="tabpanel" class="tab-pane fade in active" id="stream">
			  			<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/<%= @custom.soundcloud %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
			  		</div>
			  		<div role="tabpanel" class="tab-pane fade" id="download">
						<%= link_to 'Download wavs', "#{@custom.fullqual}", :target => "_blank", :class => "customBtn" %>
						<%= link_to 'Download mp3', "#{@custom.lowqual}", :target => "_blank", :class => "customBtn" %>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>