<div class="deviseStyling col-md-11 abouts marginTopOverride canScroll">
	<h2 class="titles">Add your release here!</h2>
	<%= bootstrap_form_for(@release) do |f| %>
	  	<%= f.text_field :title, label: "Title" %>
		<%= f.text_area :slide_title, label: "Slideshow title" %>
		<%= f.text_field :soundcloud, label: "Soundcloud ID" %>
		<%= f.text_area :description, label: "Description" %>
		<%= f.file_field :image, label: "Release main square image (crop to 300px X 300px before upload)" %>
		<%= f.file_field :fb_image, label: "Facebook share image (crop to 1200px X 630px before upload)" %>
		<%= f.file_field :slide_image, label: "Slideshow image (crop to 1115px X 952px before upload)" %>
	  	<%= f.submit 'Submit', class: "btn btn-success"  %>
	<% end %>
</div>
