<div class="canScroll" id="releaseScrollPosition">
	<div class="col-md-12">
		<% @releases.each do |release| %>
		<input type="hidden" value=<%= release.id %> class="modal-object-id">
		<a href="<%= release_path(release) %>" class="positionButtonRelease">
			<div class="col-md-4b artistContainer">
				<div class="artist">
					<div class="info-wrapper">
						<h5 class="colour"><%= release.artist_name %> "<%= release.track_name %>"</h5>
					</div>
					<%= image_tag "https://d9gj9tfjl21as.cloudfront.net/ajaxBig2.gif", data:{ src: image_path(release.image) }, class: 'lazy lazyload' %>
				</div>
			</div>
		</a>
		<% end %>
	</div>
</div>