<html>
<body>
	<button class="btn">Copy code and content?</button><br/><br/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
	<script>
		new ClipboardJS('.btn', {
		    text: function() {
		        var htmlBlock = document.querySelector('.container');
		        return htmlBlock.innerHTML;
		    }
		});
	</script>
	<div class="container">
		<style>
			p{margin:10px 0px;padding:0}
			.small{font-size:11px;width:100%;font-family:'avenir';text-transform:uppercase;letter-spacing:0.7px;line-height:14px}
			.small a{text-decoration:none}
			h5{line-height:18px;width:50%;font-family:'avenir';color:white;font-size:24px;text-align:left}
		</style>
		<div class="div1" style="text-transform:uppercase;">
			<table border="0" cellpadding="0" cellspacing="0" width="30%" class="mcnImageBlock" style="min-width:30%;">
				<tbody class="mcnImageBlockOuter">
			    	<tr>
						<td valign="top" style="padding:0px" class="mcnImageBlockInner">
							<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" 
							class="mcnImageContentContainer" style="min-width:100%;">
	  							<tbody>
									<tr>
	      								<td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 0px; 
										padding-top: 0; padding-bottom: 0; text-align:center;">
											<a href=
											<% if @first_newsletter_work.class.to_s.downcase == 'announcement' %>
												"<%= slide_path(@first_newsletter_work) %>" 
											<% elsif @first_newsletter_work.class.to_s.downcase == 'artist' %>
												"<%= artist_path(@first_newsletter_work) %>"
											<% elsif @first_newsletter_work.class.to_s.downcase == 'release' %>
												"<%= release_path(@first_newsletter_work) %>"
											<% else %>
												"<%= work_path(@first_newsletter_work) %>"
											<% end %>
												target="_blank" style="text-decoration:none;">
												<img align="center" alt="" src="<%= @first_newsletter_work.hero %>" 
												width="564" style="max-width:610px; padding-bottom: 0; display: inline !important; 
												vertical-align: bottom;" class="mcnImage">
												<div style="position:relative;margin:5px 0px 0px 0px;z-index:4;">
													<h4 class="small" style="color:black;text-align:left;">
														<%= @first_newsletter_work.nltitle %><br/>
														<%= @first_newsletter_work.nlsubtitle %><br/>
													</h4>
												</div>
											</a>
	              						</td>
	  								</tr>
								</tbody>
							</table>
						</td>
			    	</tr>
			  	</tbody>
			</table>
		</div>
		<p style="text-align:left;text-transform:none;"><%= @first_newsletter_work.nldescription %></p><br/>
		<% if @first_newsletter_work.class.to_s.downcase == 'release' && @first_newsletter_work.downloadlink? %>
			<p style="margin-top:-25px;"><a href="@first_newsletter_work.downloadlink">Download mp3</a><br/><br/>
		<% end %>
		<% @rest_newsletter_works.each do |nl| %>
			<div class="div1" style="text-transform:uppercase;">
				<table border="0" cellpadding="0" cellspacing="0" width="30%" class="mcnImageBlock" style="min-width:30%;">
					<tbody class="mcnImageBlockOuter">
				    	<tr>
							<td valign="top" style="padding:0px" class="mcnImageBlockInner">
								<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" 
								class="mcnImageContentContainer" style="min-width:100%;">
		  							<tbody>
										<tr>
		      								<td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 0px; 
											padding-top: 0; padding-bottom: 0; text-align:center;">
												<a href=
												<% if nl.class.to_s.downcase == 'announcement' %>
													"<%= slide_path(nl) %>" 
												<% elsif nl.class.to_s.downcase == 'artist' %>
													"<%= artist_path(nl) %>"
												<% elsif nl.class.to_s.downcase == 'release' %>
													"<%= release_path(nl) %>"
												<% else %>
													"<%= work_path(nl) %>"
												<% end %>
													target="_blank" style="text-decoration:none;">
													<img align="center" alt="" src="<%= nl.hero %>" 
													width="564" style="max-width:610px; padding-bottom: 0; display: inline !important; 
													vertical-align: bottom;" class="mcnImage">
													<div style="position:relative;margin:5px 0px 0px 0px;z-index:4;">
														<h4 class="small" style="color:black;text-align:left;">
															<%= nl.nltitle %><br/>
															<%= nl.nlsubtitle %><br/>
														</h4>
														<br/>
													</div>
												</a>
		              						</td>
		  								</tr>
									</tbody>
								</table>
							</td>
				    	</tr>
				  	</tbody>
				</table>
			</div>
			<p style="text-align:left;text-transform:none;margin-top:-25px;"><%= nl.nldescription %></p><br/>
			<% if nl.class.to_s.downcase == 'release' && nl.downloadlink? %>
				<p style="margin-top:-25px;"><a href="@first_newsletter_work.downloadlink">Download mp3</a><br/><br/>
			<% end %>
		<% end %>
	</div>
</body>
</html>